body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

a {
  color: lightblue;
  display: block;
  margin: 10px;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  padding: 10px;
}